.playlist {
    padding: 10px;
}

.playlist .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playlist .header .create {
    cursor: pointer;
}

.playlist .header .title span {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* PLAYLIST CONTENT */
.playlist-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


/* PLAYCARD */

.play-card {
    position: relative;
    /* width: 20%; */
    aspect-ratio: 1;
    /* font-size: small; */
}

.play-card .img {
    height: 100%;
    /* background: black; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.play-card .title {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: white;
}

.play-card .del {
    position: absolute;
    top: 8px;
    right: 8px;
    color: white;
    cursor: pointer;
}
