.s-header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ffffff25;
    min-height: 5vh;
}

.s-header * span {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: gray;
}

.s-header .active span {
    color: white;
}